<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>csrf</title>
</head>
<body>
    <form action="{% url 'booktest:csrf2' %}" method="post">   <!--用到了反向解析-->
        {% csrf_token %}         <!--防csrf的使用，只有在post表单提交时才会用到csrf-->
        <input type="text" name="uname">
        <input type="submit" value="提交">
    </form>
</body>
</html>